{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %} 
        {% for message in messages %}
            {{ message }}<br>
        {% endfor %}   
    {% endif %}
{% endwith %}
<main>
    <div class="container">
        <div class="block-information">
            <div class="card-information white">
                дел
                <p class="text-bold text-large-number">100</p>
            </div>

            <div class="card-information white">
                решений
                <p class="text-bold text-large-number">10</p>
            </div>

            <div class="card-information white">
                зу
                <p class="text-bold text-large-number">90</p>
            </div>

            <div class="card-information white">
                окс
                <p class="text-bold text-large-number">10</p>
            </div>
        </div>

        <div class="row">
            <div class="col s8">
                <div class="card white z-depth-0">
                    <div class="card-content black-text">
                      <span class="card-title">Добавленные дела</span>
                      <table>
                        <thead>
                            <tr>
                                <th>Номер дела</th>
                                <th>Истец</th>
                                <th>Количество объектов</th>
                                <th>Снижение кадастровой стоимости</th>
                            </tr>
                        </thead>
                
                        <tbody>
                            <tr>
                                <td>Eclair</td>
                                <td>$0.87</td>
                                <td>$0.87</td>
                                <td>$0.87</td>
                            </tr>
                            <tr>
                                <td>Eclair</td>
                                <td>$0.87</td>
                                <td>$0.87</td>
                                <td>$0.87</td>
                            </tr>
                            <tr>
                                <td>Eclair</td>
                                <td>$0.87</td>
                                <td>$0.87</td>
                                <td>$0.87</td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class="card white z-depth-0">
                    <div class="card-content black-text">
                      <span class="card-title">События</span>
                        <table>
                            <thead>
                                <tr>
                                    <th>Дата заседания</th>
                                    <th>Номер дела</th>
                                    <th>Истец</th>
                                </tr>
                            </thead>
                    
                            <tbody>
                                <tr>
                                    <td>Alvin</td>
                                    <td>Eclair</td>
                                    <td>$0.87</td>
                                </tr>
                                <tr>
                                    <td>Alvin</td>
                                    <td>Eclair</td>
                                    <td>$0.87</td>
                                </tr>
                                <tr>
                                    <td>Alvin</td>
                                    <td>Eclair</td>
                                    <td>$0.87</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="fixed-action-btn">
        <a class="btn-floating btn-large  green lighten-1">
            <i class="large material-icons">mode_edit</i>
        </a>
    </div>
</main>

<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);
    });

    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.fixed-action-btn');
        var instances = M.FloatingActionButton.init(elems);
    });

</script>
{% endblock %}
